
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}



body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Ibarra Real Nova', 'Public Sans', Arial ,sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;
}
